*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 1em;
    padding: 1em;
    background-color: rgb(41, 158, 158);
}

header{
    font-size: xx-large;
}

#search-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    padding: 1em;
}

#restaurant-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    width: 20vw;
    text-align: center;
}




